.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    font-size: 24px;
    line-height: 1;
  }
}
